.body-container{
    background-color: #e0e6a1;
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.sports-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    padding: 0 100px;
}